<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ark.viauc.mobi.firstapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName=".Intro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ark.viauc.mobi.firstapp.Intro" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Intro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ark.viauc.mobi.firstapp.Intro" />
        </activity>
        <activity
            android:name=".BrowserActivity"
            android:label="@string/title_activity_browser"
            android:parentActivityName=".Intro"
            >

            <!-- - Handle web browsing -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ark.viauc.mobi.firstapp.Intro" />
        </activity>
        <activity
            android:name=".MailActivity"
            android:label="@string/title_activity_mail"
            android:parentActivityName=".Intro" >

            <!-- - Handle mail -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SENDTO"/>
                <data android:scheme="mailto"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ark.viauc.mobi.firstapp.Intro" />
        </activity>
    </application>

</manifest>
